<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tag Keywords -->
		<meta
		name="description"
		content="Achievements of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, siesgst, SIESGST, official, student, website,achivements, Achieve"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="Achievements of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="Achievements of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<!-- //Meta tag Keywords -->
		<%- include('./partials/head-tag.ejs') %>
	</head>
	<body>
		<%- include('./partials/navbar.ejs') %>
		<% if(callPg < 2){ %>
		<section class="achieve-offer-section p-3">
			<div class="container">
				<div class="about-headlines text-center fs-2 pb-5 fw-bolder mt-3">
					<span class="position-relative underline-overall-orange"
						>What We Offer</span
					>
				</div>

				<div class="row">
					<div class="col-md-4 pb-4 pt-2">
						<div class="card p-3 achievement-cards border-1">
							<div class="card-title fw-bold fs-4 text-center">
								OPPURTUNITIES
							</div>
							<img
								src="/images/achievement/achieve1.png"
								class="img-fluid d-block w-100"
							/>
							<div class="text-center pt-2">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Officia nostrum doloremque
								amet voluptate accusantium eos error ullam
								perferendis quisquam? Ipsum laudantium earum
								facilis similique debitis facere veniam corporis
								expedita officiis!
							</div>
						</div>
					</div>
					<div class="col-md-4 pb-4 pt-2">
						<div class="card p-3 achievement-cards border-1">
							<div class="card-title fw-bold fs-4 text-center">
								OPPURTUNITIES
							</div>
							<img
								src="/images/achievement/achieve2.png"
								class="img-fluid d-block w-100"
							/>
							<div class="text-center pt-2">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Officia nostrum doloremque
								amet voluptate accusantium eos error ullam
								perferendis quisquam? Ipsum laudantium earum
								facilis similique debitis facere veniam corporis
								expedita officiis!
							</div>
						</div>
					</div>
					<div class="col-md-4 pb-4 pt-2">
						<div class="card p-3 achievement-cards border-1">
							<div class="card-title fw-bold fs-4 text-center">
								OPPURTUNITIES
							</div>
							<img
								src="/images/achievement/achieve3.png"
								class="img-fluid d-block w-100"
							/>
							<div class="text-center pt-2">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Officia nostrum doloremque
								amet voluptate accusantium eos error ullam
								perferendis quisquam? Ipsum laudantium earum
								facilis similique debitis facere veniam corporis
								expedita officiis!
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="achieve-numbers p-3">
			<div class="row about-number text-white text-center">
				<div class="col-lg-3 col-sm-6 text-center fs-5">
					<div><i class="fas fa-2x fa-book-open"></i></div>
					<span class="achieve-count">10</span>+
					<p>Publications</p>
				</div>
				<div class="col-lg-3 col-sm-6 text-center fs-5">
					<div><i class="fas fa-2x fa-network-wired"></i></div>
					<span class="achieve-count">50</span>+
					<p>WorkShops</p>
				</div>

				<div class="col-lg-3 col-sm-6 text-center fs-5">
					<div><i class="fas fa-2x fa-users"></i></div>
					<span class="achieve-count">1650</span>+
					<p>Followers</p>
				</div>
				<div class="col-lg-3 col-sm-6 text-center fs-5">
					<div><i class="far fa-2x fa-calendar-check"></i></div>
					<span class="achieve-count">50</span>+
					<p>Events</p>
				</div>

				<div style="clear: both"></div>
			</div>
		</section>
		<% } %>

		<section>
			<div class="container p-3">
				<div class="about-headlines text-center fs-2 pb-5 fw-bolder mt-3">
					<span class="position-relative underline-overall-orange"
						>Our Achievements</span
					>
				</div>
				<div class="row">
					<% achieveRes.forEach((res,index)=>{ %>
					<div class="col-md-4 my-3">
						<div class="achieve-card card">
							<img
								src="<%= res.AImg %>"
								class="achieve-image"
							/>
							<div class="card-body text-center fw-bold">
								<div class="card-title"><%= res.AName %></div>
							</div>
							<div class="achieve-desc">
								<div
									class="
										gallery-desc
										text-center
										overflow-auto
										text-white
										d-flex
										flex-column
										text-center
										p-3 mt-3
									"
								>
									<%= res.ADes %>
								</div>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</section>
		<form method="GET">
			<div class="text-center px-5 pb-5 pt-3">
				<div class="gallery-pagination rounded-pill text-center">

					<% if(callPg!=1){ %>
						<a href="/achievement?page=<%= callPg-1 %>" class="text-decoration-none">
					<% } else { %>
						<a class="text-decoration-none pagination-disabled" disabled>
						<% } %>
						<i
							class="fa fa-chevron-left pagination-icon"
							aria-hidden="true"
						></i>
					</a>
					<span class="pagination-line mx-2"></span>

					<label
						><input
							type="number"
							value="<%= callPg %>"
							size="4"
							class="no-outline pagination-box text-center pb-0"
							name="page"
							onclick="this.select();"
					/></label>
					<span class="">of </span>
					<span class="text-center p-1"><%= lastPg %></span>
					<span class="pagination-line me-2"></span>

					<% if(callPg==lastPg){ %>
						<a class="text-decoration-none ps-1 pagination-disabled" disabled>
					<% } else { %>
						<a href="/achievement?page=<%= callPg+1 %>" class="text-decoration-none ps-1">
						<% } %>
						<i
							class="fa fa-chevron-right pagination-icon"
							aria-hidden="true"
						></i>
					</a>
				</div>
			</div>
		</form>
		<%- include('./partials/footer.ejs') %>
		<script>
			$(window).scroll(testScroll);
			var viewed = false;

			function isScrolledIntoView(elem) {
				var docViewTop = $(window).scrollTop();
				var docViewBottom = docViewTop + $(window).height();

				var elemTop = $(elem).offset().top;
				var elemBottom = elemTop + $(elem).height();

				return elemBottom <= docViewBottom && elemTop >= docViewTop;
			}

			function testScroll() {
				if (isScrolledIntoView($('.achieve-numbers')) && !viewed) {
					viewed = true;
					$('.achieve-count').each(function () {
						$(this)
							.prop('Counter', 0)
							.animate(
								{
									Counter: $(this).text()
								},
								{
									duration: 4000,
									easing: 'swing',
									step: function (now) {
										$(this).text(Math.ceil(now));
									}
								}
							);
					});
				}
			}
		</script>
	</body>
</html>
