<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tag Keywords -->
		<meta
		name="description"
		content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, siesgst, SIESGST, official, student, website, events, EVENTS, live,Ongoing"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta property="og:url" content="https://ieeesiesgst.in/events" />
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<!-- //Meta tag Keywords -->
		<%- include('./partials/head-tag.ejs') %>
	</head>
	<body class="events-bg">
		<%- include('./partials/navbar.ejs') %>
		<% if(eventArray.activeE.length != 0 || eventArray.upcomingE.length != 0){ %>
			<% if(eventArray.activeE.length != 0){ %>
				<section class="upcoming-events px-3 pb-4" id='activeId'>
					<h3
						class="
							about-headlines
							text-center text-white
							p-5
							pb-5
							fs-2
							fw-bolder
						"
					>
						<span class="position-relative underline-overall-orange"
							>ACTIVE EVENTS</span
						>
					</h3>
					<% eventArray.activeE.forEach((res,index)=>{ %>
						<div
							class="modal fade"
							id="staticBackdrop<%= index %>"
							data-bs-backdrop="static"
							data-bs-keyboard="false"
							tabindex="-1"
							aria-labelledby="staticBackdropLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header event-modal">
										<h5 class="modal-title" id="staticBackdropLabel">
											<%= res.name %>
										</h5>
										<button
											type="button"
											class="btn-close close btn-close-white eventModalBtn"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										<%- res.long %>
									</div>
									<div class="modal-footer"></div>
								</div>
							</div>
						</div>
						<div class="container events-container p-4 my-3">
							<div class="row">
								<% if(res.pic.trim().toLowerCase() == 'nil'){ %>
									<div class="p-3 events-desc" id="activeDes">
								<% }else{ %>
									<div class="col-md-4 text-center" id="activePic">
										<img
											src="<%= res.pic %>" 
											class="
												img-thumbnail Eimg-fluid
												w-auto
												events-bg-img
												rounded
												p-2"
										/>
									</div>
									<div class="col-md-8 p-3 events-desc" id="activeDes">
								<% } %>
									<div class="row">
										<p>
											<span class="fw-bold"><%= res.name %> : </span>
											<br />
											<span class="fw-normal text-center">
												<%= res.small %>
											</span>
										</p>
										<br />
											<% if(res.start.trim().toLowerCase() == 'Date'){%>
												<script>document.getElementById('activeDate').display = none</script>
											<% }else{ %>
												<div id="activeDate">
													<span class="fw-bolder">DATE: </span><%= res.start %>
												</div>
											<% } %>
											<% if(res.time.trim().toLowerCase() == 'nil'){%>
												<script>document.getElementById('activeTime').display = none</script>
											<% }else{ %>
												<div id="activeTime">
													<span class="fw-bolder">TIME: </span><%= res.time %>
												</div>
											<% } %>
									</div>
			
									<div class="row float-end">
										<div class="d-inline-flex mt-2">
											<% if(res.long.trim().toLowerCase() != 'nil'){%>
												<a
												class="
													p-2
													pe-lg-5
													ps-lg-5
													ps-lg-3
													btn-events
												"data-bs-toggle="modal"
												data-bs-target="#staticBackdrop<%= index %>"
												id="knowA"
												>Know More</a
												>
											<% } %>
											&nbsp; &nbsp;
											<% if(res.reg.trim().toLowerCase() != 'nil'){%>
											<a
												href="<%= res.reg %>"target="_blank" rel="noopener noreferrer"
												class="
												p-2
												pe-lg-5
												ps-lg-5
												ps-lg-3
												btn-events
												" id="regA"
												>Register Now</a
											><% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% }) %>
				</section>
			<% } %>

			<% if(eventArray.upcomingE.length != 0){ %>
				<section class="upcoming-events px-3 pb-5" id="upcomingId">
					<h3
						class="
							about-headlines
							text-center text-white
							pt-4
							px-5
							pb-5
							fs-2
							fw-bolder
						"
					>
						<span class="position-relative underline-overall-orange"
							>UPCOMING EVENTS</span
						>
					</h3>
					<% eventArray.upcomingE.forEach((res,index)=>{%>
						<div
							class="modal fade"
							id="staticbackdrop<%= index %>"
							data-bs-backdrop="static"
							data-bs-keyboard="false"
							tabindex="-1"
							aria-labelledby="staticBackdropLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header event-modal">
										<h5 class="modal-title" id="staticBackdropLabel">
											<%= res.name %>
										</h5>
										<button
											type="button"
											class="btn-close close btn-close-white eventModalBtn"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										<%- res.long %>
									</div>
									<div class="modal-footer"></div>
								</div>
							</div>
						</div>
						<div class="container events-container p-4 my-3">
							<div class="row">
								<% if(res.pic.trim().toLowerCase() == 'nil'){ %>
									<div class="p-3 events-desc" id="upcomingDes">
								<% }else{ %>
									<div class="col-md-4 text-center">
										<img
											src="<%= res.pic %>" 
											class="
												img-thumbnail Eimg-fluid
												w-auto
												events-bg-img
												rounded
												p-2
											"
										/>
									</div>
									<div class="col-md-8 p-3 events-desc" id="upcomingDes">
								<% } %>
									<div class="row">
										<p>
											<span class="fw-bold"><%= res.name %> : </span>
											<br />
											<span class="fw-normal text-center">
												<%= res.small %>
											</span>
										</p>
										<br />
										<% if(res.start.trim().toLowerCase() == 'Date'){%>
											<script>document.getElementById('upcomingDate').display = none</script>
										<% }else{ %>
											<div>
												<span class="fw-bolder" id="upcomingDate">DATE: </span><%= res.start %>
											</div>
										<% } %>
										<% if(res.time.trim().toLowerCase() == 'nil'){%>
											<script>document.getElementById('upcomingTime').display = none</script>
										<% }else{ %>
											<div>
												<span class="fw-bolder" id="upcomingTime">TIME: </span><%= res.time %>
											</div>
										<% } %>
									</div>
									<div class="row float-end">
										<div class="d-inline-flex mt-2">
											<% if(res.long.trim().toLowerCase() != 'nil'){%>
												<a
												class="
												p-2
												pe-lg-5
												ps-lg-5
												ps-lg-3
												btn-events
												"data-bs-toggle="modal"
												data-bs-target="#staticbackdrop<%= index %>"
												id="knowU"
												>Know More</a
												>
											<% } %>
											&nbsp; &nbsp;
											<!-- <% if(res.reg.trim().toLowerCase() != 'nil'){%>
											<a
												href="<%= res.reg %>"target="_blank" rel="noopener noreferrer"
												class="
												p-2
												pe-lg-5
												ps-lg-5
												ps-lg-3
												btn-events
												" id="regU"
												>Register Now</a
											><% } %> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					<% }) %>
				</section>
			<% } %>
		<% }else{ %>
			<section class="pb-5 mt-5">
				<div class="text-center pt-5 pb-4 fs-3 fw-bold text-white">
					<span class=" position-relative underline-overall-orange">OUR EVENTS</span>
				</div>
				<div class="container" style="max-width: 1000px">
					<div class="text-black text-center mt-4 bg-white">
						<div class="row g-0">
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									<div
										class="
											flagShipv1
											position-absolute
											d-none d-xl-block
										"
									></div>
									<p class="fs-4 fw-bold">          Selenium</p>
									Epsilon is an Academic Convention wherein the invited Industry Experts will speak about their expertise in the field of The Internet Spectrum. We explore security in a broad range of fields, upholstering Blockchain, Cybersecurity, 5G and IOT. Our target is to get around this vast domain starting right from the genesis and pan it up to the conceptual level.<br><a href="https://ieeesiesgst.github.io/IEEE-Epsilon2022/" target="_blank" style="color: #FFC44F;">More about Epsilon</a>
								
								</div>
							</div>
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/Selenium.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Techopedia"
								/>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/epsilon.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Epsilon"
								/>
							</div>
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									<div
										class="
											flagShipv2
											position-absolute
											d-none d-xl-block
										"
									></div>
									<p class="fs-4 fw-bold">Epsilon</p>
									Epsilon is an Academic Convention wherein the invited Industry Experts will speak about their expertise in the field of The Internet Spectrum. We explore security in a broad range of fields, upholstering Blockchain, Cybersecurity, 5G and IOT. Our target is to get around this vast domain starting right from the genesis and pan it up to the conceptual level.<br><a href="https://ieeesiesgst.github.io/IEEE-Epsilon2022/" target="_blank" style="color: #FFC44F;">More about Epsilon</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<% } %>

		<%- include('./partials/footer.ejs') %>
    </body>
</html>
