<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tag Keywords -->
		<meta
		name="description"
		content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, siesgst, SIESGST, official, student, website, events, EVENTS, live,Ongoing"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta property="og:url" content="https://ieeesiesgst.in/events" />
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<!-- //Meta tag Keywords -->
		<%- include('./partials/head-tag.ejs') %>
	</head>
	<body class="events-bg">
		<%- include('./partials/navbar.ejs') %>
		<% if(eventArray.activeE.length != 0 || eventArray.upcomingE.length != 0){ %>
			<% if(eventArray.activeE.length != 0){ %>
				<section class="upcoming-events px-3 pb-4" id='activeId'>
					<h3
						class="
							about-headlines
							text-center text-white
							p-5
							pb-5
							fs-2
							fw-bolder
						"
					>
						<span class="position-relative underline-overall-orange"
							>ACTIVE EVENTS</span
						>
					</h3>
					<% eventArray.activeE.forEach((res,index)=>{ %>
						<div
							class="modal fade"
							id="staticBackdrop<%= index %>"
							data-bs-backdrop="static"
							data-bs-keyboard="false"
							tabindex="-1"
							aria-labelledby="staticBackdropLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header event-modal">
										<h5 class="modal-title" id="staticBackdropLabel">
											<%= res.name %>
										</h5>
										<button
											type="button"
											class="btn-close close btn-close-white eventModalBtn"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										<%- res.long %>
									</div>
									<div class="modal-footer"></div>
								</div>
							</div>
						</div>
						<div class="container events-container p-4 my-3">
							<div class="row">
								<% if(res.pic.trim().toLowerCase() == 'nil'){ %>
									<div class="p-3 events-desc" id="activeDes">
								<% }else{ %>
									<div class="col-md-4 text-center" id="activePic">
										<img
											src="<%= res.pic %>" 
											class="
												img-thumbnail Eimg-fluid
												w-auto
												events-bg-img
												rounded
												p-2"
										/>
									</div>
									<div class="col-md-8 p-3 events-desc" id="activeDes">
								<% } %>
									<div class="row">
										<p>
											<span class="fw-bold"><%= res.name %> : </span>
											<br />
											<span class="fw-normal text-center">
												<%= res.small %>
											</span>
										</p>
										<br />
											<% if(res.start.trim().toLowerCase() == 'Date'){%>
												<script>document.getElementById('activeDate').display = none</script>
											<% }else{ %>
												<div id="activeDate">
													<span class="fw-bolder">DATE: </span><%= res.start %>
												</div>
											<% } %>
											<% if(res.time.trim().toLowerCase() == 'nil'){%>
												<script>document.getElementById('activeTime').display = none</script>
											<% }else{ %>
												<div id="activeTime">
													<span class="fw-bolder">TIME: </span><%= res.time %>
												</div>
											<% } %>
									</div>
			
									<div class="row float-end">
										<div class="d-inline-flex mt-2">
											<% if(res.long.trim().toLowerCase() != 'nil'){%>
												<a
												class="
													p-2
													pe-lg-5
													ps-lg-5
													ps-lg-3
													btn-events
												"data-bs-toggle="modal"
												data-bs-target="#staticBackdrop<%= index %>"
												id="knowA"
												>Know More</a
												>
											<% } %>
											&nbsp; &nbsp;
											<% if(res.reg.trim().toLowerCase() != 'nil'){%>
											<a
												href="<%= res.reg %>"target="_blank" rel="noopener noreferrer"
												class="
												p-2
												pe-lg-5
												ps-lg-5
												ps-lg-3
												btn-events
												" id="regA"
												>Register Now</a
											><% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% }) %>
				</section>
			<% } %>

			<% if(eventArray.upcomingE.length != 0){ %>
				<section class="upcoming-events px-3 pb-5" id="upcomingId">
					<h3
						class="
							about-headlines
							text-center text-white
							pt-4
							px-5
							pb-5
							fs-2
							fw-bolder
						"
					>
						<span class="position-relative underline-overall-orange"
							>UPCOMING EVENTS</span
						>
					</h3>
					<% eventArray.upcomingE.forEach((res,index)=>{%>
						<div
							class="modal fade"
							id="staticbackdrop<%= index %>"
							data-bs-backdrop="static"
							data-bs-keyboard="false"
							tabindex="-1"
							aria-labelledby="staticBackdropLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header event-modal">
										<h5 class="modal-title" id="staticBackdropLabel">
											<%= res.name %>
										</h5>
										<button
											type="button"
											class="btn-close close btn-close-white eventModalBtn"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										<%- res.long %>
									</div>
									<div class="modal-footer"></div>
								</div>
							</div>
						</div>
						<div class="container events-container p-4 my-3">
							<div class="row">
								<% if(res.pic.trim().toLowerCase() == 'nil'){ %>
									<div class="p-3 events-desc" id="upcomingDes">
								<% }else{ %>
									<div class="col-md-4 text-center">
										<img
											src="<%= res.pic %>" 
											class="
												img-thumbnail Eimg-fluid
												w-auto
												events-bg-img
												rounded
												p-2
											"
										/>
									</div>
									<div class="col-md-8 p-3 events-desc" id="upcomingDes">
								<% } %>
									<div class="row">
										<p>
											<span class="fw-bold"><%= res.name %> : </span>
											<br />
											<span class="fw-normal text-center">
												<%= res.small %>
											</span>
										</p>
										<br />
										<% if(res.start.trim().toLowerCase() == 'Date'){%>
											<script>document.getElementById('upcomingDate').display = none</script>
										<% }else{ %>
											<div>
												<span class="fw-bolder" id="upcomingDate">DATE: </span><%= res.start %>
											</div>
										<% } %>
										<% if(res.time.trim().toLowerCase() == 'nil'){%>
											<script>document.getElementById('upcomingTime').display = none</script>
										<% }else{ %>
											<div>
												<span class="fw-bolder" id="upcomingTime">TIME: </span><%= res.time %>
											</div>
										<% } %>
									</div>
									<div class="row float-end">
										<div class="d-inline-flex mt-2">
											<% if(res.long.trim().toLowerCase() != 'nil'){%>
												<a
												class="
												p-2
												pe-lg-5
												ps-lg-5
												ps-lg-3
												btn-events
												"data-bs-toggle="modal"
												data-bs-target="#staticbackdrop<%= index %>"
												id="knowU"
												>Know More</a
												>
											<% } %>
											&nbsp; &nbsp;
											<!-- <% if(res.reg.trim().toLowerCase() != 'nil'){%>
											<a
												href="<%= res.reg %>"target="_blank" rel="noopener noreferrer"
												class="
												p-2
												pe-lg-5
												ps-lg-5
												ps-lg-3
												btn-events
												" id="regU"
												>Register Now</a
											><% } %> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					<% }) %>
				</section>
			<% } %>
		<% }else{ %>
			<section class="pb-5 mt-5">
				<div class="text-center pt-5 pb-4 fs-3 fw-bold text-white">
					<span class=" position-relative underline-overall-orange">OUR EVENTS</span>
				</div>
				<div class="container" style="max-width: 1000px">
					<div class="text-black text-center mt-4 bg-white">
						<div class="row g-0">
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">Selenium</p>
									A two-day event under which a webinar was conducted on ‘Power Beaming and Space Solar’ with the objective to get the attendees acquainted with this vast topic that might be the future source of energy. Under the CS sub-chapter , a workshop was conducted on ‘Unboxing the Web’ whose objective was to teach how to extract web data with BeautifulSoup and learn the basics of scraping and parsing data.<br> 
								</div>
							</div>
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/Selenium.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Techopedia"
								/>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/epsilon.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Epsilon"
								/>
							</div>
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">Epsilon</p>
									Epsilon is an Academic Convention wherein the invited Industry Experts will speak about their expertise in the field of The Internet Spectrum. We explore security in a broad range of fields, upholstering Blockchain, Cybersecurity, 5G and IOT. Our target is to get around this vast domain starting right from the genesis and pan it up to the conceptual level.<br>
								</div>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">Inspect Element</p>
									The Computer Society of IEEE SIESGST, in collaboration with CSI SIESGST, organized a front-end web development competition based on the theme 'Breaking Bad' for undergraduate students eager to demonstrate their proficiency in coding languages such as HTML, CSS, and JavaScript, as well as to provide a forum where they could collaborate and develop new technological concepts.<br> 
								</div>
							</div>
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/Inspect Element.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Techopedia"
								/>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/DML.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Epsilon"
								/>
							</div>
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">DML Talks</p>
									IEEE SIES GST with its MTT-S sub-chapter conducted a DML Talk on Technologies and Spectrum Above 100GHz for 6G and beyond. Different 6g applications were the main topic of discussion. For everyone interested in technologies and spectrum over 100 GHz for 6G and beyond, this seminar served as a much-needed kick start in the correct direction. Before diving into the world of 6g, this class covered all the foundations one need be aware of. 
								</div>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">STEM LECTURES</p>
									The STEM Workshop Initiative was created to explain the technical aspects of education to underprivileged students, allowing them to receive valuable knowledge and insight for their future academics. They learned about several sorts of fields of study and now have an advantage in realizing their academic interests and ways to help them with their studies.<br> 
								</div>
							</div>
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/STEM.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Techopedia"
								/>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/After Graduation.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Epsilon"
								/>
							</div>
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">After Graduation</p>
									This series of Instagram Live events are designed to assist undergraduate students in making career decisions or just learning about the numerous alternatives available after finishing their degree program. 
								</div>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">IEEE Day 2022</p>
									IEEE SIESGST celebrates IEEE Day each year with much contention on the 5th of October, this year with the same consistency and glee, the team revered the great objectives it has achieved all through these years since its inception. Through this ceremony, we reaffirmed and emphasised our goals of expanding opportunities for our college&#39;s students to plan, participate in, and enjoy events and making them successful. The new IEEE SIESGST team had a great time during this session, and were delighted from all the compliments and recognition they were receiving from the Branch Counselor and the esteemed faculty members SIESGST.<br> 
								</div>
							</div>
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/IEEE Day.jpeg"
									class="img-fluid w-100 home-flag-img" alt="Techopedia"
								/>
							</div>
						</div>
						<div class="row g-0">
							<div class="col-lg-6 col-12 py-2 py-lg-0">
								<img
									src="/images/events/techopedia10.jpg"
									class="img-fluid w-100 home-flag-img" alt="Epsilon"
								/>
							</div>
							<div class="col-lg-6 col-12 d-flex align-items-center">
								<div class="px-4 fs-6 py-3 position-relative">
									
									<p class="fs-4 fw-bold">Techopedia X</p>
									Techopedia is a technical fest organized by the IEEE SIESGST branch for the involvement of the student members as well as the development of students under the guise of fun-filled and intriguing games and events. Last year Techopedia X was conducted, despite the pandemic situation, as the organizing team strived to achieve a grand festival virtually for its student members’ benefit. 
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<% } %>

		<%- include('./partials/footer.ejs') %>
    </body>
</html>
