<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tag Keywords -->
		<meta
		name="description"
		content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, siesgst, SIESGST, official, student, website, events, EVENTS, live,Ongoing"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="Ongoing Events of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<!-- //Meta tag Keywords -->
		<%- include('./partials/head-tag.ejs') %>
	</head>
	<body class="events-bg">
		<%- include('./partials/navbar.ejs') %>
		<% if(eventArray.activeE.length != 0){ %>
			<section class="upcoming-events px-3 pt-3" id='activeId'>
				<h3
					class="
						about-headlines
						text-center text-white
						p-5
						pb-5
						fs-2
						fw-bolder
					"
				>
					<span class="position-relative underline-overall-orange"
						>Active Events</span
					>
				</h3>
				<% for(var i = eventArray.activeE.length-1; i>=0; i--) { %>
				<div class="container events-container p-4 my-3">
					<div class="row">
						<% if(eventArray.activeE[i].pic.trim().toLowerCase() == 'nil'){ %>
							<div class="p-3 events-desc" id="activeDes">
						<% }else{ %>
							<div class="col-md-4" id="activePic">
								<img
									src="<%= eventArray.activeE[i].pic %>" 
									class="
										img-thumbnail img-fluid
										w-100
										events-bg-img
										rounded
										p-2"
								/>
							</div>
							<div class="col-md-8 p-3 events-desc" id="activeDes">
						<% } %>
							<div class="row">
								<p>
									<span class="fw-bold">DESCRIPTION: </span>
									<br />
									<span class="fw-normal text-center">
										<%= eventArray.activeE[i].small %>
									</span>
								</p>
								<br />
									<% if(eventArray.activeE[i].start.trim().toLowerCase() == 'Date'){%>
										<script>document.getElementById('activeDate').display = none</script>
									<% }else{ %>
										<div id="activeDate">
											<span class="fw-bolder">DATE: </span><%= eventArray.activeE[i].start %>
										</div>
									<% } %>
									<% if(eventArray.activeE[i].time.trim().toLowerCase() == 'nil'){%>
										<script>document.getElementById('activeTime').display = none</script>
									<% }else{ %>
										<div id="activeTime">
											<span class="fw-bolder">TIME: </span><%= eventArray.activeE[i].time %>
										</div>
									<% } %>
							</div>
	
							<div class="row float-end">
								<div class="d-inline-flex mt-2">
									<% if(eventArray.activeE[i].website.trim().toLowerCase() == 'nil'){%>
										<script>displayId('knowA')</script>
									<% }else{ %>
									<a
										href="<%= eventArray.activeE[i].website %>"
										class="
											p-2
											pe-lg-5
											ps-lg-5
											ps-lg-3
											btn-events
										"
										id="knowA"
										>Know More</a
									>
									<% } %>
									&nbsp; &nbsp;
									<% if(eventArray.activeE[i].reg.trim().toLowerCase() == 'nil'){%>
										<script>displayId('regA')</script>
									<% }else{ %>
									<a
										href="<%= eventArray.activeE[i].reg %>"
										class="
										p-2
										pe-lg-5
										ps-lg-5
										ps-lg-3
										btn-events
										" id="regA"
										>Register Now</a
									><% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</section>
		
		<% } %>
		<% if(eventArray.upcomingE.length != 0){ %>
			<section class="upcoming-events px-3 pt-3 pb-5" id="upcomingId">
				<h3
					class="
						about-headlines
						text-center text-white
						pt-4
						px-5
						pb-5
						fs-2
						fw-bolder
					"
				>
					<span class="position-relative underline-overall-orange"
						>Upcoming Events</span
					>
				</h3>
				<% for(var i = eventArray.upcomingE.length-1; i>=0; i--) { %>
					<div class="container events-container p-4 my-3">
						<div class="row">
							<% if(eventArray.upcomingE[i].pic.trim().toLowerCase() == 'nil'){ %>
								<div class="p-3 events-desc" id="upcomingDes">
							<% }else{ %>
								<div class="col-md-4">
									<img
										src="<%= eventArray.upcomingE[i].pic %>" 
										class="
											img-thumbnail img-fluid
											w-100
											events-bg-img
											rounded
											p-2
										"
									/>
								</div>
								<div class="col-md-8 p-3 events-desc" id="upcomingDes">
							<% } %>
								<div class="row">
									<p>
										<span class="fw-bold">DESCRIPTION: </span>
										<br />
										<span class="fw-normal text-center">
											<%= eventArray.upcomingE[i].small %>
										</span>
									</p>
									<br />
									<% if(eventArray.upcomingE[i].start.trim().toLowerCase() == 'Date'){%>
										<script>document.getElementById('upcomingDate').display = none</script>
									<% }else{ %>
										<div>
											<span class="fw-bolder" id="upcomingDate">DATE: </span><%= eventArray.upcomingE[i].start %>
										</div>
									<% } %>
									<% if(eventArray.upcomingE[i].time.trim().toLowerCase() == 'nil'){%>
										<script>document.getElementById('upcomingTime').display = none</script>
									<% }else{ %>
										<div>
											<span class="fw-bolder" id="upcomingTime">TIME: </span><%= eventArray.upcomingE[i].time %>
										</div>
									<% } %>
								</div>
								<div class="row float-end">
									<div class="d-inline-flex mt-2">
										<% if(eventArray.upcomingE[i].website.trim().toLowerCase() == 'nil'){%>
											<script>displayId('knowU')</script>
										<% }else{ %>
										<a
											href="<%= eventArray.upcomingE[i].website %>"
											class="
											p-2
											pe-lg-5
											ps-lg-5
											ps-lg-3
											btn-events
											"
											id="knowU"
											>Know More</a
										>
										<% } %>
										&nbsp; &nbsp;
										<% if(eventArray.upcomingE[i].reg.trim().toLowerCase() == 'nil'){%>
											<script>displayId('regU')</script>
										<% }else{ %>
										<a
											href="<%= eventArray.upcomingE[i].reg %>"
											class="
											p-2
											pe-lg-5
											ps-lg-5
											ps-lg-3
											btn-events
											" id="regU"
											>Register Now</a
										><% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>
			</section>
		<% } %>
		<%- include('./partials/footer.ejs') %>
    </body>
</html>
