<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Meta tag Keywords -->
        <meta
            name="description"
            content="Image Gallery of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta
            name="keywords"
            content="IEEE, ieee, sies, gst, siesgst, official, student, website, gallery, photo, images"
        />
        <!--whatsapp and fb-->
        <meta
            property="og:description"
            content="Image Gallery of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta property="og:image:alt" content="Image Gallery of IEEE SIES GST" />
        <!--twitter-->
        <meta
            property="twitter:description"
            content="Image Gallery of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <!-- //Meta tag Keywords -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
        
		<%- include('./partials/head-tag.ejs') %>
		<script>
			const getLargest = (arr) => {
				let max = 0;
				arr.forEach((ele) => {
					if (ele > max) {
						max = ele;
					}
				});
				return max;
			};

			const getSmallest = (arr) => {
				let minLoc = Math.floor(Math.random() * arr.length);
				let min = arr[minLoc];
				arr.forEach((ele, idx) => {
					if (ele < min) {
						min = ele;
						minLoc = idx;
					}
				});
				return minLoc;
			};

			const makeGallery = (eleId) => {
				if (eleId) {
					document.getElementById(
						'gallery-div-' + eleId
					).style.transform = 'scale(1)';
				}

				let col = [0];
				if (window.innerWidth > 540) {
					col.push(0);
				}
				if (window.innerWidth > 800) {
					col.push(0);
				}
				if (window.innerWidth > 1200) {
					col.push(0);
				}
				if (window.innerWidth > 1500) {
					col.push(0);
				}

				let galleryItems = document.getElementsByClassName(
					'gallery-item overflow-hidden'
				);

				for (let i = 0; i < galleryItems.length; i++) {
					if (galleryItems[i].style.transform == 'scale(0)') {
						continue;
					}

					let tempWidth = Math.floor(
						(document
							.getElementById('gallery')
							.getBoundingClientRect().width -
							20 * (col.length - 1)) /
							col.length
					);

					let elementType = galleryItems[i].getAttribute('dataType');
					let tempHeight;

					if (elementType == 'video') {
						let vid =
							galleryItems[i].getElementsByTagName('video')[0];
						tempHeight =
							(vid.videoHeight / vid.videoWidth) * tempWidth;
					} else if (elementType == 'iframe') {
						tempHeight = parseInt((tempWidth / 3) * 2);
					} else if (elementType == 'audio') {
						tempHeight = 60;
					} else {
						let image =
							galleryItems[i].getElementsByTagName('img')[0];
						tempHeight =
							(image.naturalHeight / image.naturalWidth) *
							tempWidth;
					}

					let smallLoc;
					if (galleryItems.length <= col.length) {
						smallLoc = i;
					} else {
						smallLoc = getSmallest(col);
					}

					galleryItems[i].style.width = tempWidth + 'px';
					galleryItems[i].style.height = tempHeight + 'px';
					galleryItems[i].style.marginLeft =
						(tempWidth + 20) * smallLoc + 'px';
					galleryItems[i].style.marginTop = col[smallLoc] + 'px';

					col[smallLoc] += tempHeight + 20;

					let largeHeight = getLargest(col);

					if (
						!document.getElementById('gallery').style.height ||
						parseInt(
							document.getElementById('gallery').style.height
						) <
							largeHeight + 20
					) {
						document.getElementById('gallery').style.height =
							largeHeight + 20 + 'px';
					}

					document.getElementById('gallery-loader').style.display =
						'none';
				}
				document.getElementById('gallery').style.height =
					getLargest(col) + 20 + 'px';
			};

			const fullScreenImage = (eleId) => {
				let src = document
					.getElementById('gallery-div-' + eleId)
					.getElementsByTagName('img')[0].src;

				$('.gallery-modal-body').html(
					`<button type="button" class="btn position-absolute py-0 px-2 text-white end-0" style="border: 1px solid #000; background: rgba(0,0,0,0.7);" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
					<img src="${src}" class='gallery-modal-img'>`
				);

				$('#full-screen-modal').modal();
				new bootstrap.Modal(
					document.getElementById('full-screen-modal')
				).toggle();
			};
		</script>
	</head>
	<body class="gallery-events-bg">
		<%- include('./partials/navbar.ejs') %>
		<div class="container">
			<h3 class="text-center pb-5 fs-1 about-headlines fw-bolder p-5">
				<span class="position-relative underline-overall-orange"
					>Gallery</span
				>
			</h3>
		</div>

		<div class="container-fluid">
			<div
				id="gallery"
				class="position-relative overflow-hidden"
				style="height: 50vh"
			>
				<div id="gallery-loader" class="text-center py-5">
					<div class="gallery-loading-animation">Loading...</div>
				</div>

				<% galResponse.forEach((res,index)=>{
					if(res.Gtype.trim().toLowerCase() == 'iframe'){ %>
						<div
							class="position-absolute gallery-item overflow-hidden"
							style="transform: scale(0); transition: 0.5s"
							id="gallery-div-<%= index %>"
							dataType="iframe"
						>
							<%- res.Gimg %>
						</div>
					<% }
					else if(res.Gtype.trim().toLowerCase() == 'video' || res.Gtype.trim().toLowerCase() == 'vid'){ %>
						<div
							class="position-absolute gallery-item overflow-hidden"
							style="transform: scale(0); transition: 0.5s"
							id="gallery-div-<%= index %>"
							dataType="video"
						>
							<video
								src="<%= res.Gimg %>"
								class="
									img-fluid
									position-absolute
									start-0
									top-0
									w-100
									h-100
								"
								controls
								controlsList="nodownload"
								onloadeddata="makeGallery('<%= index %>')"
							></video>
						</div>
					<% }
					else if(res.Gtype.trim().toLowerCase() == 'audio' || res.Gtype.trim().toLowerCase() == 'aud' ){ %>
						<div
							class="position-absolute gallery-item overflow-hidden"
							style="transform: scale(0); transition: 0.5s"
							id="gallery-div-<%= index %>"
							dataType="audio"
						>
							<audio
								src="<%= res.Gimg %>"
								onloadeddata="makeGallery('<%= index %>')"
								controls
								controlsList="nodownload"
								class="
									img-fluid
									position-absolute
									start-0
									top-0
									w-100
									h-100
								"
							></audio>
						</div>
					<% }else{%>
						<div
							class="position-absolute gallery-item overflow-hidden"
							style="transform: scale(0); transition: 0.5s"
							id="gallery-div-<%= index %>"
						>
							<img
								src="<%= res.Gimg %>"
								alt=""
								class="
									img-fluid
									position-absolute
									start-0
									top-0
									w-100
									h-100
								"
								onload="makeGallery('<%= index %>')"
							/>

							<div
								class="
									position-absolute
									start-0
									top-0
									w-100
									h-100
									d-flex
									flex-column
									pt-2
									gallery-content
								"
							>
								<div
									class="
										gallery-title
										text-center text-white
										d-flex
										flex-row
										pb-2
										px-3
									"
								>
									<div class="d-flex flex-grow-1">
										<h5 class="mb-0"><%= res.Gname %></h5>
									</div>
									<div class="d-flex flex-grow-0 pt-1">
										<i
											class="fas fa-expand cursor-pointer"
											title="Full Screen"
											onclick="fullScreenImage('<%= index %>')"
										></i>
									</div>
								</div>
								<div
									class="
										gallery-desc
										text-center
										overflow-auto
										text-white
										d-flex
										flex-column
										text-center
										px-2
										pb-2
										pt-1
									"
								>
									<%= res.Gdes %>
								</div>
							</div>
						</div>
					<% }
				}) %>
			</div>
		</div>
		
		<!-- Modal -->
		<div id="full-screen-modal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="gallery-modal-body"></div>
				</div>
			</div>
		</div>

		<form method="GET">
			<div class="text-center px-5 pb-5 pt-3">
				<div class="gallery-pagination rounded-pill text-center">
					<a href="#" class="text-decoration-none pt-2">
						<i
							class="fa fa-chevron-left pagination-icon"
							aria-hidden="true"
						></i>
					</a>
					<span class="pagination-line mx-2"></span>

					<label
						><input
							type="number"
							value="<%= callPg %>"
							size="4"
							class="no-outline pagination-box text-center"
							name="page"
							onclick="this.select();"
					/></label>
					<span class="">of </span>
					<span class="text-center p-1"><%= lastPg %></span>
					<span class="pagination-line me-2"></span>

					<a href="#" class="ps-1 text-decoration-none">
						<span class=""
							><i
								class="fa fa-chevron-right pagination-icon"
								aria-hidden="true"
							></i></span
					></a>
				</div>
			</div>
		</form>
		<%- include('./partials/footer.ejs') %>
		<script>
			let currentWidth = window.innerWidth;
			window.onresize = () => {
				let newWidth = window.innerWidth;
				if (newWidth !== currentWidth) {
					currentWidth = newWidth;
					makeGallery(null);
				}
			};

			let galleryItem = document.getElementsByClassName(
				'gallery-item overflow-hidden'
			);
			for (let i = 0; i < galleryItem.length; i++) {
				let frames = galleryItem[i].getElementsByTagName('iframe');

				if (frames.length > 0) {
					let gallerySplit = galleryItem[i].id.split('-');

					frames[0].onload = () => {
						makeGallery(i);
					};

					frames[0].removeAttribute('height');
					frames[0].removeAttribute('width');
					frames[0].style.background = 'rgba(0,0,255,0.5)';
					frames[0].classList.add(
						'img-fluid',
						'position-absolute',
						'start-0',
						'top-0',
						'w-100',
						'h-100'
					);
				}
			}
		</script>
	</body>
</html>
