<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head-tag.ejs') %>

		<meta
		 name="description"
		 content="Official website of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, siesgst, SIESGST, official, student, website, home"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="Official website of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="Official website of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<!-- //Meta tag Keywords -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"/>

		<script>
			function testScroll() {
				if (isScrolledIntoView($('.home-about')) && !viewed) {
					viewed = true;
					$('.count').each(function () {
						$(this)
							.prop('Counter', -1)
							.animate(
								{
									Counter: $(this).text()
								},
								{
									duration: 4000,
									easing: 'swing',
									step: function (now) {
										$(this).text(Math.ceil(now));
									}
								}
							);
					});
				}
			}
			function changeImage(i, text,sub) {
				document
					.getElementById('sub-image')
					.setAttribute('src', `/images/sub-${i}.jpg`);
				document.getElementById('sub-img-text').innerHTML = text;
				document.getElementById(sub[3]).classList.add('active-sub');
				for(var i =0;i<3;i++){
					document.getElementById(sub[i]).classList.remove('active-sub');
				}
			}
		</script>
</head>
<body>
    <%- include('./partials/home-navbar.ejs') %>

    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <section class="home-about">
			<div class="container p-4">
				<h3 class="about-headlines text-center pt-4 fs-2 fw-bolder pb-2">
					<span class="position-relative underline-overall-orange"
						>ABOUT US</span
					>
				</h3>
				<p class="about-content text-center p-2 mt-4 fs-5">
					IEEE SIESGST. One of the most vibrant and largest Student
					Branch in the Bombay Section, IEEE SIESGST have made a
					significant mark for itself over the years.
				</p>

				<div class="about-number text-center">
					<div class="d-inline-block text-center p-4 fs-4">
						<span class="count">150</span>+
						<p>Members</p>
					</div>
					<div class="d-inline-block text-center p-4 fs-4">
						<span class="count">50</span>+
						<p>Awards</p>
					</div>
					<div class="d-inline-block text-center p-4 fs-4">
						<span class="count">10</span>+
						<p>Events</p>
					</div>
					<div style="clear: both"></div>
				</div>
			</div>
		</section>
		<section class="home-events p-4 pt-4">
			<h2
				class="
					about-headlines
					text-center
					p-4
					text-white
					fs-2
					fw-bolder
				"
			>
				<span class="position-relative underline-overall-white"
					>ONGOING EVENTS</span
				>
			</h2>
			<div class="row p-3 align-items-center">
				<div class="my-slider text-center">
					<% for(var i = event.length-1; i>=0; i--) { %>
					<div class="col-12 p-3 home-carousel">
						<div class="card">
							<% if(event[i].pic.trim().toLowerCase() == 'nil'){ %>
								<P class="p-2"><%= event[i].small %></P>
							<% }else{ %>
							<img
								class="d-block w-100"
								id = 'eventImg-<%= i %>'
								src = "<%= event[i].pic %>" 
							/>
							<% } %>
							<div class="card-title text-center pt-2 homeMid-text">
								<%= event[i].name %>									
							</div>
							<div class="text-center px-5 p-2 pb-4">
								<a href="#" class="p-2 btn-slide homeMid-text"
									>Explore</a
								>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>


			<div class="text-center text-white" id="controls">
				<span class="previous">
					<i
						class="fa fa-chevron-left control-btn fa-lg"
						aria-hidden="true"
					></i>
				</span>
				<span>&nbsp;</span>
				<span class="next">
					<i
						class="fa fa-chevron-right control-btn fa-lg pb-3"
						aria-hidden="true"
					></i>
				</span>
			</div>
		</section>

		<section>
			<div class="container .text-secondary">
				<h3 class="about-headlines text-center pt-5 fs-2 fw-bolder pb-3">
					<span class="position-relative underline-overall-orange"
						>SUB-CHAPTERS</span
					>
				</h3>
				<div class="row my-5 mx-3 sub-chp">
					<div class="col-sm-9 sub-l-col">
						<div class="card bg-dark text-white my-3">
							<img
								src="/images/sub-1.jpg"
								class="card-img sub-img"
								alt="..."
								id="sub-image"
							/>
							<div class="card-img-overlay d-flex align-items-center">
								<p
									class="
										card-text
										text-center
										fw-normal
										sub-text
									"
									id="sub-img-text"
								>
									Our goal at WIE is to foster and facilitate
									the participation & retention of women in
									the technical domain.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3 sub-r-col">
						<div
							class="
								d-flex
								flex-sm-column
								bd-highlight
								my-3
								.flex-xs-row
								justify-content-center
							"
						>
							<div
								class="
									px-2
									mt-2 mt-lg-3
									bd-highlight
									text-center
									sub-btn fw-normal
									my-md-2
								"
								id="wie"
							>
								WIE
							</div>
							<div
								class="
									px-2 fw-normal
									mt-2 mt-lg-3
									bd-highlight
									text-center
									sub-btn
									my-md-2
								"
								id="mtts"
							>
								MTTS
							</div>
							<div
								class="
									px-2 fw-normal
									mt-2 mt-lg-3
									bd-highlight
									text-center
									sub-btn
									my-md-2
								"
								id="cs"
							>
								CS
							</div>
							<div
								class="
									px-2 fw-normal
									mt-2 mt-lg-3
									bd-highlight
									text-center
									sub-btn
									my-md-2
								"
								id="isv"
							>
								ISV
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
		</section>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
		<script>
			let sliderOptions = {
				container: '.my-slider',
				items: 1,

				slideBy: 'page',
				autoplay: true,
				nav: false,

				responsive: {
					450: {
						items: 2
					},
					860: {
						items: 3
					},
					1260: {
						items: 4
					}
				},
				autoplayButtonOutput: false,
				controlsContainer: '#controls',
				prevButton: '.previous',
				nextButton: '.next'
			}

			switch(document.getElementsByClassName('home-carousel').length) {
				case 1:
					sliderOptions.responsive = {};
					break;
				case 2:
					sliderOptions.responsive = {450: {items: 2}};
					break;
				case 3:
					sliderOptions.responsive = {450: {items: 2}, 860: {items: 3}};
					break;
			}

			let slider = tns(sliderOptions);

			$(window).scroll(testScroll);
			var viewed = false;

			function isScrolledIntoView(elem) {
				var docViewTop = $(window).scrollTop();
				var docViewBottom = docViewTop + $(window).height();

				var elemTop = $(elem).offset().top;
				var elemBottom = elemTop + $(elem).height();

				return elemBottom <= docViewBottom && elemTop >= docViewTop;
			}

			var text1 =
					'Our goal at WIE is to foster and facilitate the participation & retention of women in the technical domain.';
			var text2 =
					'Our mission is to continue to understand and influence microwave technology and to provide a forum for all microwave engineers';
			var text3 =
					'Our goal is to develop and inculcate computing skills in all students.';
			var text4 =
					'isv short description will be here...................................';

			document.getElementById('wie').classList.add('active-sub');

			document.getElementById('wie').addEventListener('click', () => {	
				changeImage(1, text1,['mtts','cs','isv','wie']);
			});
			document.getElementById('mtts').addEventListener('click', () => {
				changeImage(2, text2,['wie','cs','isv','mtts']);
			});
			document.getElementById('cs').addEventListener('click', () => {
				changeImage(3, text3,['wie','mtts','isv','cs']);
			});
			document.getElementById('isv').addEventListener('click', () => {
				changeImage(2, text4,['wie','mtts','cs','isv']);
			});
			
		</script>

    <%- include('./partials/footer.ejs') %>
</body>
</html>