<!DOCTYPE html>
<html lang="en">
	<head>

		<meta
		 name="description"
		 content="Official website of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, siesgst, SIESGST, official, student, website, home"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="Official website of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<meta property="og:url" content="https://ieeesiesgst.in/" />
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="Official website of IEEE student chapter of SIES GST, Navi Mumbai."
		/>
		<%- include('./partials/head-tag.ejs') %>
        <script>
			function testScroll() {
				if (isScrolledIntoView($('.about-us')) && !viewed) {
					viewed = true;
					$('.count').each(function () {
						$(this)
							.prop('Counter', -1)
							.animate(
								{
									Counter: $(this).text()
								},
								{
									duration: 4000,
									easing: 'swing',
									step: function (now) {
										$(this).text(Math.ceil(now));
									}
								}
							);
					});
				}
			}
		
			function changeImage(i, sub) {
				document
					.getElementById('home-subImg')
					.setAttribute('src', `/images/subChp/sub-${i}.png`);
				document.getElementById('sub-link').setAttribute('href', `/sub-chapter/${sub[3]}`)
				document.getElementById(sub[3]).classList.add('active-Sub');
				for (var i = 0; i < 3; i++) {
					document
						.getElementById(sub[i])
						.classList.remove('active-Sub');
					if (
						document.getElementById(sub[3]).classList[6] ==
						'subName2'
					) {
						document
							.getElementById(sub[i])
							.classList.remove('active-sub2', 'active-sub1');
						document
							.getElementById(sub[3])
							.classList.toggle('active-sub2');
					} else {
						{
							document
								.getElementById(sub[i])
								.classList.remove('active-sub2', 'active-sub1');
							document
								.getElementById(sub[3])
								.classList.toggle('active-sub1');
						}
					}
				}
			}
		</script>
	</head>
	<body>
        <%- include('./partials/home-navbar.ejs') %>
		<section class="about-us my-4 position-relative">
            <div class="homev1 position-absolute d-none d-lg-block"></div>
            <div class="homev2 position-absolute d-none d-lg-block"></div>
            <div class="homev3 position-absolute d-none d-lg-block"></div>
            <div class="homev4 position-absolute d-none d-lg-block"></div>
			<div class="text-center pt-4 pb-2 fs-3 fw-bold"><span class=" position-relative underline-overall-black">ABOUT US</span></div>
			<div class="text-center pt-4 px-4 container px-lg-5 about-text">
				Ever since the inception of what is one of the oldest student branches of SIES Graduate School of Technology, IEEE has strived on amplifying intellectually and cultivating an environment suited for intrapersonal evolvement in each individual that relates with us. The prime ambition has and continues to be creating opportunities for the students of our college that upholsters organizing and/or indulging in events and making it a success. Even during the pandemic, the team did not fail to bring on new opportunities for student members to showcase their technical skills.<p>IEEE SIESGST has three sub-chapters namely, Women in Engineering (WiE), Microwave Theory and Technique Society (MTT-S) and Computer Society (CS). </p>
			</div>
			<div class="container Homecount">
				<div class="row">
					<div
						class="
							col
							m-5
							text-center
							animate__animated animate__fadeIn
						"
					>
						<div class="circleCount d-inline-block">
							<i
								class="bx bxs-user bx-lg home-countImg m-4"
								style="color: #ffcc66"
							></i>
						</div>
						<div class="fs-5 fw-bold m-3 d-inline-block">
							<span class="count">150</span>+
							<p>Members</p>
						</div>
					</div>
					<div
						class="
							col
							m-5
							text-center
							animate__animated animate__fadeIn
						"
					>
						<div class="circleCount d-inline-block">
							<i
								class="bx bxs-award bx-lg home-countImg m-4"
								style="color: #ffcc66"
							></i>
						</div>
						<div class="fs-5 fw-bold m-3 d-inline-block">
							<span class="count">35</span>+
							<p>Awards</p>
						</div>
					</div>
					<div
						class="
							col
							m-5
							text-center
							animate__animated animate__fadeIn
						"
					>
						<div class="circleCount d-inline-block">
							<i
								class="
									bx
									bxs-calendar-event
									bx-lg
									home-countImg
									m-4
								"
								style="color: #ffcc66;"
							></i>
						</div>
						<div class="fs-5 fw-bold m-3 d-inline-block">
							<span class="count">50</span>+
							<p>Events</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-flagShip pb-5 mt-5">
			<div class="text-center pt-5 pb-4 fs-3 fw-bold text-white">
				<span class=" position-relative underline-overall-orange">OUR FLAGSHIP EVENTS</span>
			</div>
			<div class="container" style="max-width: 1000px">
				<div class="text-black text-center mt-4 bg-white">
					<div class="row g-0">
						<div class="col-lg-6 col-12 d-flex align-items-center">
							<div class="px-4 fs-6 py-3 position-relative">
								<div
									class="
										flagShipv1
										position-absolute
										d-none d-xl-block
									"
								></div>
								<p class="fs-4 fw-bold">Techopedia</p>
								Techopedia is a technical fest organized by the IEEE SIESGST branch for the involvement of the student members as well as the development of students under the guise of fun-filled and intriguing games and events. This year Techopedia 10.0 is planned to be conducted, despite the pandemic situation, as the organizing team strives to achieve a grand festival virtually for its student members’ benefit. 
							</div>
						</div>
						<div class="col-lg-6 col-12 py-2 py-lg-0">
							<img
								src="/images/events/techopedia.png"
								class="img-fluid w-100 home-flag-img" alt="Techopedia"
							/>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-lg-6 col-12 py-2 py-lg-0">
							<img
								src="/images/events/epsilon.jpg"
								class="img-fluid w-100 home-flag-img" alt="Epsilon"
							/>
						</div>
						<div class="col-lg-6 col-12 d-flex align-items-center">
							<div class="px-4 fs-6 py-3 position-relative">
								<div
									class="
										flagShipv2
										position-absolute
										d-none d-xl-block
									"
								></div>
								<p class="fs-4 fw-bold">Epsilon</p>
								IEEE SIES GST with its sub-chapters MTT-S and Computer Society in feature conducted EPSILON 2021~ a Symposium, with exceptional success. Epsilon 2021 was a 3-Day long Academic Convention wherein the invited Industry Experts spoke about their expertise in the field of ‘Computing and Knowledge Engineering’ which was the theme profusely covered in this Symposium.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<% if(eventArray.length != 0){ %>
			<section class="home-events pt-5 px-5">
				<div class="container bg-white homeEvent-bg position-relative">
				  <div class="eventv1 position-absolute d-none d-lg-block"></div>
				  <div class="eventv2 position-absolute d-none d-lg-block"></div>
				  <div class="container pt-2 pt-md-3">
					<div class="row text-lg-start text-center ms-lg-4">
					  <div class="col-lg-4 col-12 ms-lg-5 ms-0 py-2">
						<div class="fs-3 fw-bold">OUR EVENTS</div>
					  </div>
					  <div class="col-lg-4 col-12 py-2">
						<div class="fs-6 px-4">
						  Have a look at our Ongoing and Upcoming
						  Events!
						</div>
					  </div>
					</div>
				
					
				  </div>
				  <div
					id="eventHomeCarousel"
					class="
					  carousel
					  slide
					  homeCarousel
					  position-absolute
					  translate-middle-x
					  start-50
					"
					data-bs-ride="carousel"
				  >
						<div class="carousel-inner">
							<% eventArray.forEach((res,index)=>{ %>
								<div class="carousel-item cursor-pointer <%= index==0 && "active" %>" onclick="location.href='/events'">
									<div class="card eventCard">
									<img src="<%= res.pic %>" class="card-img-top eventImg" alt="Event" />
									<div class="card-body pb-0">
										<h6 class="card-title text-center"><%= res.name %> <i class="fas fa-caret-right"></i></h6>
									</div>
									</div>
								</div>
							<% }) %>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#eventHomeCarousel" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#eventHomeCarousel" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
				  </div>
				</div>
			</section>
		<% } %>
		<section class="home-subChp shadow-lg py-3 m-4 mb-5">
			<div class="container">
				<div
					class="
						row
						justify-content-end
						text-lg-start text-center
						ms-lg-4
						mb-4
					"
				>
					<div class="col-lg-4 col-12 ms-lg-5 ms-0 py-2">
						<div class="fs-3 fw-bold"><span class="position-relative underline-overall-black"
							>SUBCHAPTERS</span></div>
					</div>
				</div>

				<div class="row text-center gx-3" id="xx">
					<div
						class="
							col-12 col-lg-9
							order-lg-first order-last
							my-2
							position-relative
						"
					>
						<div
							class="
								subImgv1
								position-absolute
								d-none d-lg-block
								py-3
							"
						></div>
						<div
							class="
								subImgv2
								position-absolute
								d-none d-lg-block
								py-3
							"
						></div>
						<a href="/sub-chapter/mtts" id="sub-link" class="homeSub-Img text-decoration-none position-relative">
							<img
								src="/images/subChp/sub-1.png"
								class="
									img-fluid
									sub-Img
									animate__animated animate__pulse
								"
								alt="subChp"
								id="home-subImg"
							/>
							<div class="homeSub position-relative">
								<div class="text-dark fw-bolder fs-2 text-center">Click To Know More!</div>
							</div>
						</a>
					</div>
					<div
						class="
							col-12 col-lg-3
							order-lg-last order-first
							position-relative
						"
					>
						<div class="container">
							<div class="row row-cols-4 mt-lg-5 text-white">
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName1
									"
									id="mtts"
								><div
								class="
									subv1
									position-absolute
									d-none d-lg-block
									py-3
								"
							></div>
									MTTs
								</div>
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName2
									"
									id="wie"
								>
									WIE
								</div>
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName1
									"
									id="isv"
								>
									ISV
								</div>
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName2
									"
									id="cs"
								>
									CS
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <%- include('./partials/footer.ejs') %>
		<script>
			$(window).scroll(testScroll);
			var viewed = false;
			function isScrolledIntoView(elem) {
				var docViewTop = $(window).scrollTop();
				var docViewBottom = docViewTop + $(window).height();
				var elemTop = $(elem).offset().top;
				var elemBottom = elemTop + $(elem).height();
				return elemBottom <= docViewBottom && elemTop >= docViewTop;
			}
			
			document
				.getElementById('mtts')
				.classList.add('active-Sub', 'active-sub1');
			document.getElementById('wie').addEventListener('click', () => {
				changeImage(2, ['mtts', 'cs', 'isv', 'wie']);
			});
			document.getElementById('mtts').addEventListener('click', () => {
				changeImage(1, ['wie', 'cs', 'isv', 'mtts']);
			});
			document.getElementById('cs').addEventListener('click', () => {
				changeImage(3, ['wie', 'mtts', 'isv', 'cs']);
			});
			document.getElementById('isv').addEventListener('click', () => {
				changeImage(4, ['wie', 'mtts', 'cs', 'isv']);
			});
		</script>
		<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"
		></script>
	</body>
</html>