<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tag Keywords -->
		<meta
		name="description"
		content="IEEE Smart Village of SIES GST, Navi Mumbai."
		/>
		<meta
			name="keywords"
			content="IEEE, ieee, sies, gst, SIESGST, official, student, website, ISV, Smart Village"
		/>
		<!--whatsapp and fb-->
		<meta
			property="og:description"
			content="IEEE Smart Village of SIES GST, Navi Mumbai."
		/>
		<meta property="og:url" content="https://ieeesiesgst.in/sub-chapter/isv" />
		<meta property="og:image:alt" content="IEEE SIES GST" />
		<!--twitter-->
		<meta
			property="twitter:description"
			content="IEEE Smart Village of SIES GST, Navi Mumbai."
		/>
		<!-- //Meta tag Keywords -->
		<%- include('./partials/head-tag.ejs') %>
        <script>

			function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
			}

			function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
			}
        </script>
	</head>
	<body>
		<%- include('./partials/navbar.ejs') %>
		<button onclick="topFunction()" id="scrollTop" class="subScrollTop scrollTop-color3" title="Go to top">
			<i
			class="
				fa fa-angle-double-up
				sub-up-arrow
			"
		></i></button>
		<section class="pt-4 sub-home sub-banner sub-banner-color3 sub-bg-wave sub-home-row3">
			<div class="container">
				<div class="row pt-5">
					<div class="col-md-6">
						<div class="text-center">
							<img src="/images/subChp/isv-home1.gif" class="isv-gif" alt="isv"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="py-2 mt-md-5 pt-md-5">
							<div class="fs-2 text-center text-white pt-md-5 pt-3 mt-md-4">
								IEEE SMART VILLAGE
							</div>
						</div>
					</div>
				</div>
				<div class="row pt-1">
					<div class="text-center" >
						<div
							class="home-banner-btn-div mx-auto"
							onclick="if(window.innerWidth>850){window.scrollTo(0, document.getElementById('scroll-wie-banner').offsetTop - 70)}else{window.scrollTo(0, document.getElementById('scroll-wie-banner').offsetTop - 60)}"
						>
							<i
							class="
								fa fa-angle-double-down
								
								sub-chevron-banner sub-chevron-color3
							"	
							></i>
						</div>
					</div>
				</div>
			</div>	
		</section>
		<div id="scroll-wie-banner" class="w-100"></div>
		<section class="wie-about sub-bg-wave "id="wie">
			<div class="container p-3 pt-5">
				<div class="row" >
					<div class="col-md-6">
						<div class="about-headlines text-center pt-lg-5 fs-2 fw-bolder">
							<span
								class="position-relative sub-underline-home underline-color3"
								>IEEE SIESGST ISV</span
							>
						</div>
						<div class="fs-5 text-center pt-5">
							The IEEE Smart Village (formerly Community Solutions Initiative) is the member-led not-for-profit humanitarian outreach program of the IEEE.
						</div>			
					</div>
					<div class="col-md-6">
						<img
							src="/images/subChp/isvSies.png"
							class="w-100 h-100 pt-5"
							alt="isv-about"
						/>
					</div>
				</div>
			</div>
				<div class="position-relative">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
						<path
							fill="#edf2eb"
							fill-opacity="1"
							d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
						></path>
					</svg>
					<div class=" sub-info3 pb-lg-4">
						<div
							class="about-headlines text-center pt-lg-0 pt-5 fs-2 fw-bolder"
                        >
							<span class="position-relative sub-underline-overall underline-color3"
								>IEEE Smart Village
                            </span>
						</div>
						<div class="fs-5 text-center pt-5 px-4 px-lg-5 pb-4 mx-lg-5 mx-md-0">
							<a href="https://smartvillage.ieee.org/join-us/" target="_blank" rel="noopener noreferrer" class="sub-link-color3 sub-link">IEEE Smart Village</a> focuses on Micro-utility equipment based on solar power is seed-funded to in-country, non-governmental organization (NGO) partners to create self-sustaining, community-owned, and -operated micro-utilities in off-grid areas. The entire community participates in the success of the local electricity business, and profits are reinvested in community empowerment through economic development and education initiatives.
						</div>
					</div>
				</div>
			</div>
		</section>	
		<section>
			<div class="container p-4 pb-lg-0">
				<div class="about-headlines text-center fs-2 fw-bolder pb-5 pt-4">
					<span class="position-relative sub-underline-overall underline-color3"
						>HIGHLIGHTS
                    </span>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img
							src="/images/subChp/isvHighlight.png"
							class="d-block w-100 pt-lg-5"
							alt="sub-info"
						/>
					</div>
					<div class="col-md-6 fs-2">
						<div
							class="
								about-headlines
								text-center
								py-4 pt-lg-5 pt-md-0
								
								fw-bolder
							"
						>
							<span class="position-relative"
								>OUR LOCATION
                            </span>
						</div>
						<div class="fs-5 text-center">
							IEEE Smart Village (ISV) aims to provide the village a clean energy solution. To fetch GSM Network along with the implementation  of smart vermicompost setup. Digital literacy will provide information about some key applications which  will be an empowering tool for the village. 
						</div>
					</div>
				</div>
			</div>
			<div class="position-relative">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
					<path
						fill="#edf2eb"
						fill-opacity="1"
						d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
					></path>
				</svg>
			</div>
			<div class="sub-info3">
				<div class="container pb-5">
					<div class="row pb-lg-5">
						<div class="col-md-6">
							<div
								class="
									about-headlines
									text-center
									pt-5
									pb-4
									fs-2
									fw-bolder
								"
							>
								<span
									class="
										position-relative
										sub-underline-overall underline-color3 
									"
									>OUR GOAL
                                </span>
							</div>
							<div class="fs-5 text-center p-lg-5">
								Empower transform off-grid communities with solar power, through education, and the creation of sustainable, affordable, locally-owned, entrepreneurial energy businesses.
							</div>
						</div>
						<div class="col-md-6">
							<img
								src="/images/subChp/isvGoal.png"
								class="h-100 w-100"
								alt="sub-info"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<% if(chapterRes.activities.length != 1 && chapterRes.activities[0].trim().toLowerCase() != 'nil' ){ %>
			<section class="pt-4 mt-3 mx-2 mb-4 pb-5">
				<div class="container sub-activities sub-act-color3">
					<div class="about-headlines text-center fs-2 fw-bolder pb-4 pt-2">
						<span class="position-relative sub-underline-overall underline-color3"
							>ACTIVITIES
						</span>
					</div>
					<div class="row">
						<div class="col ">
							<div class="container justify-content-center align-items-center sub-activity">
								<div
									id="carouselExampleIndicators"
									class="carousel slide "
									data-bs-ride="carousel"
								>
									<div class="row">
										<div class="col">
											<button
												class="carousel-control-prev pb-4"
												type="button"
												data-bs-target="#carouselExampleIndicators"
												data-bs-slide="prev"
											>
												<i
													class="
														fa fa-angle-double-left
														
														sub-chevron-carousel sub-carousel-color3
													"
												></i>
												<span class="visually-hidden"
													>Previous
												</span>
											</button>
										</div>
										<div class="col-9">
											<div
												class="
													carousel-inner
												"
											>
												<div
													class="
														align-items-center
														justify-content-center
													"
												>
												<% chapterRes.activities.forEach((res,index)=>{ %>
													<% if(index==0){ %>
														<div
															class="
																carousel-item
																active
															"
														>
													<% }else{ %>
														<div
														class="
															carousel-item
														
														"
														>
													<% } %>
														<div class="card sub-carousel-card">
															<div class="row">
																<img
																	src="<%= res %>"
																	class="
																		img-fluid
																		d-block
																		w-100
																		subChp-img
																	"
																/>
																<% if(chapterRes.des[index].trim().toLowerCase() != 'nil' ){ %>
																	<div
																		class="		
																			d-md-block py-2
																			text-center
																		"
																	>
																		<%= chapterRes.des[index] %>
																	</div>
																<% } %>
															</div>
														</div>
													</div>
												<% }) %>
												</div>
											</div>
										</div>
										<div class="col">
											<button
												class="carousel-control-next pb-4"
												type="button"
												data-bs-target="#carouselExampleIndicators"
												data-bs-slide="next"
											>
												<i
													class="
														fa fa-angle-double-right
														
														sub-chevron-carousel sub-carousel-color3
													"
												></i>
												<span class="sr-only"
													>Next</span
												>
											</button>
										</div>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<% } %>
        <%- include('./partials/footer.ejs') %>
		
		<script>
		var mybutton = document.getElementById("scrollTop");
		window.onscroll = function() {scrollFunction()};
		</script>
	</body>
</html>
