<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Meta tag Keywords -->
        <meta
        name="description"
        content="Members of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta
            name="keywords"
            content="IEEE, ieee, sies, gst, siesgst, official, student, website, members, tech, design, pr, isv, wie, mtts, core, faculty, Teams, team, jsec, admin"
        />
        <!--whatsapp and fb-->
        <meta
            property="og:description"
            content="Members of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta property="og:image:alt" content="Members of IEEE SIES GST" />
        <!--twitter-->
        <meta
            property="twitter:description"
            content="Members of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <!-- //Meta tag Keywords -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        
        <%- include('./partials/head-tag.ejs') %>
	</head>
	<body>
        <%- include('./partials/navbar.ejs') %>
		<section class="tech-about">
			<div class="container justify-content-center pb-4 p-4">
				<h3 class="about-headlines text-center pt-5 fs-2 fw-bolder">
					<span class="position-relative underline-overall-orange"
						><%= memberRes.team  %> TEAM</span
					>
				</h3>
				<div class="about-content text-center p-4 mt-4 pb-5 ps-xl-5 pe-xl-5 fs-5">
					<%= memberRes.des  %>
				</div>
		</section>
		<section class="tech-card pb-4">
			<div class="container align-items-center p-4">
				<div class="row mb-5">
					<div class="col">
						<h3 class="about-headlines text-center text-white pt-4 fs-2 fw-bolder">
							<span class="position-relative underline-overall-orange"
								>MEET OUR TEAM</span
							>
						</h3>
					</div>
				</div>
				<div class="container team-grid">
					<div class= "row m-3 justify-content-center">
						<% memberRes.member.forEach((res,index)=>{ if(index%2 ==0){ %>
							<div class="col-4 p-3 team-card">
								<div class="card pt-2 team-card-1">
									<div class="card-body text-center">
										<img
											class="img-fluid memberCard-img card-border-1"
											src="<%= res.profilePic %>"
										/>

										<div class="card-title text-center pt-2">
											<div class="fs-4 fw-bold"><%= res.name %></div>
											<div class="lead"><%= res.post %></div>
										</div>
										<ul class="social mb-2 list-inline mt-3">
											<li class="list-inline-item">
												<a
													href="<%= res.linkdIn %>"
													class="
														social-link-1
														text-decoration-none
													"
													><i class="fa fa-github"></i
												></a>
											</li>
											<li class="list-inline-item">
												<a
													href="<%= res.gmail %>"
													class="
														social-link-1
														text-decoration-none
													"
													><i class="fa fa-linkedin"></i
												></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						<%}else{%>
							<div class="col-4 p-3 team-card ">
								<div class="card pt-2 team-card-2">
								<div class="card-body text-center">
									<img
										class="img-fluid memberCard-img card-border-2"
										src="<%= res.profilePic %>"
									/>

									<div
										class="
											card-title
											text-white text-center
											pt-2
										"
									>
									<div class="fs-4 fw-bold"><%= res.name %></div>
										<div class="fs-5"><%= res.post %></div>
									</div>
									<ul class="social mb-2 list-inline mt-3">
										<li class="list-inline-item">
											<a
												href="<%= res.linkdIn %>"
												class="
													social-link-2
													text-decoration-none
												"
												><i class="fa fa-github"></i
											></a>
										</li>
										<li class="list-inline-item">
											<a
												href="<%= res.gmail %>"
												class="
													social-link-2
													text-decoration-none
												"
												><i class="fa fa-linkedin"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							</div>
						<% }}) %>
					</div>
				</div>	
							
						
					</div>
				</div>
			</div>
			
		</section>
		<section class="tech-offer p-4">
			<div class="container">
				<h3 class="about-headlines text-center pb-4 pt-4 fs-2 fw-bolder">
					<span class="position-relative underline-overall-orange"
						>WHAT WE OFFER</span
					>
				</h3>
			</div>
			<div class="container ps-lg-5 align-items-center pb-5 pe-lg-5">
				<div class="justify-content-center parent ps-lg-5 pe-lg-5">
					<% memberRes.offer.forEach((res,index)=>{ %>
					<div class="team-points my-4 ms-4">
						<div class="text-bullet">&#8226;</div>
						<%= res %>
					</div>
					<% }) %>
				</div>
			</div>
		</section>
        <%- include('./partials/footer.ejs') %>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<script src="https://use.fontawesome.com/ce94556118.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
	</body>
</html>
